.App {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
  } 
  
  /*---------*/
  
  .AddButton {
  
    font-size: 15px;
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #C1A88A;
    border-radius: 5px;
    padding: 5px;
  }
  
  .LogOutButton{
    font-size: 15px;
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: absolute;
    right: 5%;
    background-color: #C1A88A;
    border-radius: 5px;
    padding: 5px;
    margin: 0px;
  }
  
  .input_field {
    padding: 5px;

  }
  .Component {
  
    color: white;
    font-size: 10px;
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #3F4F37;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin: 10px;
    text-align: center;

  
  }
  
  .title{
    text-align: center;
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: #3F4F37;
    padding-top: 10px;
  }
  
  h1{
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: #FCF9F5;
  }
  
  